<nav class="bg-gray-900 shadow">
  <hr style="border-top: double; border-top-color: blueviolet">
  <%= if @role == :admin || @role == :god do %>

  <% end %>
</nav>

<h1> You'll be able to interact with the Ascension system, here. Please look forward to it! </h1>