@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts";

/* This file is for your main application CSS */

.activenav {
    @apply bg-gray-900 text-white;
}

.inactivenav {
    @apply text-gray-400;
}

.basics {
    font-family: "EB Garamond";
    @apply bg-gray-800 text-indigo-200 text-xl;
}

[x-cloak] {
    display: none;
}

@layer base {
    h1 {
        @apply text-4xl text-white my-5;
    }

    h2 {
        @apply text-3xl my-3 capitalize underline;
    }

    h3 {
        @apply text-2xl text-white my-1;
    }

    h4 {
        @apply font-bold text-white;
    }

    h5 {
        @apply text-sm text-white;
    }

    a {
        @apply font-bold text-lg text-gray-300 hover:text-violet-500;
    }
}

.fooby {
    white-space: nowrap;
    @apply hover:text-white;
    @apply pr-2;

    i {
        @apply pl-1;
    }
}

.deckrow {
    td {
        @apply px-5 py-2
    }
}

.formstyle {
    & .text {
        @apply bg-gray-50 border border-gray-800 text-gray-900 text-sm focus:border-blue-500 mx-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
    }

    & .submit {
        @apply text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900
    }
}

.zoom {
    transform-origin: 100px 100px;
    transition: transform .2s;
    z-index: 0;
    /* Animation */
}

.zoom:hover {
    transform: scale(2.5);
    z-index: 50;
    //transform: rotateY(100);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.extant {
    @apply bg-gray-700 hover:bg-gray-600
}

.latent {
    @apply bg-gray-900 hover:bg-gray-600
}

.glorified {
    @apply bg-yellow-700 hover:bg-yellow-600
}

.deckbuttons {
    min-height: 40px;
    @apply flex justify-evenly mt-1
}