<h1><%= @song.title %></h1>

BUTTON TO MAKE THE SONG QUEUE UP

<%= if @role == :admin || @role == :god do %>
  <span><%= link "BUTTON TO MAKE THE SONG UNLOCK", to: Routes.song_path(@conn, :unlock, @song) %></span>
<% end %>

<div class="">
  <%= @song.text %>
</div>

<%= if @role == :admin || @role == :god do %>
  <span><%= link "Edit Song Data", to: Routes.song_path(@conn, :edit, @song) %></span>
<% end %>

<span><%= link "Back", to: Routes.song_path(@conn, :index) %></span>
